{%include 'hrb/base1.html' %}
<!DOCTYPE html>
{%block body%}
<table>
  <tr>
    <td>
        <div id="left1"><center>
<h3 margin="5px">Available Rooms:{{total}}</h3></center><hr>
<h2>Ac Rooms:{{Acrooms}}
</h2>
<h2>NonAc Rooms:{{NonAc}}
</h2>
        </div></td>
        <td><div id="middle1">  <center> <h1>BOOK ROOM HERE</h1><form class=""  method="post">
            {{form.as_p}}
            {% csrf_token %}
            <button type="submit" name="button">submit</button>
            <input type="hidden" name="alert" value="{{alert}}" readonly>

          </form></center>

<script>
$( document ).ready(function() {
  if (document.roombook.alert.value==1){
    swal("¡Bien hecho!", "El registro fue exitoso.", "success")
  }
  if (document.roombook.alert.value==0){
    swal("¡Oops!", "Algo salió mal.", "error")
  }
});
</script>
        </div></td>
        <td>
        <div id="right1">
<h3>visitors list</h3><hr>
{% for visitor in visitors%}
{%if visitor.username != 'hari' %}
<h1>{{visitor.username}}</h1>
{% endif %}
{%endfor%}
{% include 'hrb/pagination.html' with page=visitors%}
        </div></td>
  </tr>
</table>
{%endblock%}
